body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
  text-align: center;
  padding: 30px;
}

h2 {
  color: #38bdf8;
}

input, select {
  padding: 8px;
  font-size: 16px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #38bdf8;
  cursor: pointer;
}

button:hover {
  background-color: #0ea5e9;
}

#resultado {
  font-size: 18px;
  margin-top: 15px;
}

#intentos {
  opacity: 0.8;
}
.card {
  background-color: #020617;
  max-width: 420px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
